<div class="footer__top">
  <div class="footer__container cont-r">

    <div class="accordion js-accordion">
      <div class="box">
        <div class="label">про компанію
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <g opacity="0.5">
              <path d="M6 9.5L12 15.5L18 9.5" stroke="#030718" stroke-width="1.4" stroke-linecap="round"
                stroke-linejoin="round" />
            </g>
          </svg>
        </div>
        <div class="content">
          <p class="content__inner">
            Компанія PORTEN – лідер на українському ринку годинників. На цей час ми об'єднуємо більше сорока магазинів у
            різних куточках України та інтернет-магазин, який став першим в нашому сегменті ринку. Торгова мережа PORTEN
            – офіційний дистриб'ютор більше 50 найвідоміших годинникових марок, починаючи від японської CASIO,
            закінчуючи швейцарськими LONGINES, ZENITH, TAG HEUER. Однак компанія не обмежується лише годинниками – в
            інтернет-магазині та бутіках мережі ви знайдете прекрасні ювелірні вироби від таких іменитих брендів, як
            SWAROVSKI и CHRISTINA.
          </p>
        </div>
      </div>
      <div class="box">
        <div class="label">Категорії
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <g opacity="0.5">
              <path d="M6 9.5L12 15.5L18 9.5" stroke="#030718" stroke-width="1.4" stroke-linecap="round"
                stroke-linejoin="round" />
            </g>
          </svg>
        </div>
        <div class="content">
          <div class="content__inner content__inner_links">
            <a class="content__link" href="#">годинники</a>
            <a class="content__link" href="#">запонки</a>
            <a class="content__link" href="#">ремені</a>
            <a class="content__link" href="#">ювелірні вироби</a>
            <a class="content__link" href="#">на замовлення</a>
            <a class="content__link" href="#">браслети</a>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="label">розсилка
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <g opacity="0.5">
              <path d="M6 9.5L12 15.5L18 9.5" stroke="#030718" stroke-width="1.4" stroke-linecap="round"
                stroke-linejoin="round" />
            </g>
          </svg>
        </div>
        <div class="content">
          <div class="content__inner">
            <p class="content__text">
              Компанія пропонує тільки оригінальну продукцію від найвідоміших світових брендів за найкращою ціною. Ми
              дбаємо про комфорт наших покупців і постійно розширюємо можливості сервісного обслуговування.
            </p>
            <form class="content__form">
              <input type="email" class="content__input" placeholder="Ваша пошта" name="useremail" required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
              <button type="submit" class="content__button">Підписатися</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="footer__bottom">
  <div class="footer__container cont-r">
    <div class="footer__bottom-content">
      <p class="footer__bottom__internet-shop">
        © 2022 PORTEN, Інтернет-магазин годинників
      </p>
      <a class="footer__bottom__user-agreement" href="#">
        Угода користувача
      </a>
    </div>
  </div>
</div>