<section class="hero">
  <div class="hero__container cont-r">

    <div class="hero__titles-box">
      <h1 class="hero__title">
        PORTEN
      </h1>
      <h3 class="hero__sub-title">
        івано-франківськ
      </h3>
    </div>

    <p class="hero__desc">
      В магазинах Торговельній мережі Porten ви можете купити годинник у Бахмуті, Вінниці, Дніпрі, Житомирі, Запоріжжі,
      Івано-Франківську, Києві, Краматорську, Луцьку, Львові, Одесі, Покровську, Полтаві, Рівному, Слов'янську, Сумах,
      Тернополі, Харкові, Херсоні, Хмельницькому, Черкасах, Чернівцях, Чернігові , а також багатьох інших містах України
    </p>

  </div>
</section>