<div class="mob-menu__wrapper">
  <div class="mob-menu mob-menu_flex is-hidden" data-menu>
    <div>

      <button class="mob-menu__btn mob-menu__btn_close" data-menu-close>
        <img src="./images/icon/icon-cross.svg" class="mob-menu__icon mob-menu__icon_cross">
      </button>

      <div class="mob-menu-list__wrapper">
        <ul class="mob-menu-list list">
          <li class="mob-menu-list__item">
            <a class="mob-menu-list__link active" href=#">сподобалось</a>
          </li>
          <li class="mob-menu-list__item">
            <a class="mob-menu-list__link" href="#">Особистий кабінет</a>
          </li>
          <li class="mob-menu-list__item">
            <a class="mob-menu-list__link" href="#">налаштування</a>
          </li>

        </ul>

        <div class="mob-menu__desc desc">
          <p class="desc__text">Працюємо 7 днів на тиждень | 9:00 — 18:00</p>
        </div>

      </div>

    </div>
  </div>
</div>