<section class="new-arrivals">
  <div class="new-arrivals__container cont-r">

    <h2 class="new-arrivals__title">Нові надходження</h2>

    <div class="clocks-list__wrapper js-wrap-list">
      <ul class="new-arrivals__list-clocks clocks-list js-clocks-list">
        <li class="clocks-list__item">
          <a class="clocks-list__link" href="#">
            <img class="clocks-list__img" src="./images/wrist-watches/Carl-von-Zeyten.png" alt="watch-0">
          </a>
          <p class="clocks-list__text"></p>
          <p class="clocks-list__price"></p>
        </li>
        <li class="clocks-list__item">
          <a class="clocks-list__link" href="#">
            <img class="clocks-list__img" src="./images/wrist-watches/Carl-von-Zeyten.png" alt="watch-1">
          </a>
          <p class="clocks-list__text">
            Carl von Zeyten
          </p>
          <p class="clocks-list__price">16 500 грн.</p>
        </li>
        <li class="clocks-list__item">
          <a class="clocks-list__link" href="#">
            <img class="clocks-list__img" src="./images/wrist-watches/JORD-AR5905.png" alt="watch-1">
          </a>
          <p class="clocks-list__text">
            JORD AR5905
          </p>
          <p class="clocks-list__price">65 000 грн.</p>
        </li>
        <li class="clocks-list__item">
          <a class="clocks-list__link" href="#">
            <img class="clocks-list__img" src="./images/wrist-watches/Emporio-Armani-Sportivo.png" alt="watch-1">
          </a>
          <p class="clocks-list__text">
            Emporio Armani Sportivo
          </p>
          <p class="clocks-list__price">165 000 грн.</p>
        </li>
        <li class="clocks-list__item">
          <a class="clocks-list__link" href="#">
            <img class="clocks-list__img" src="./images/wrist-watches/Rolex-Oyster-Perpetual.png" alt="watch-1">
          </a>
          <p class="clocks-list__text">
            Rolex Oyster Perpetual
          </p>
          <p class="clocks-list__price">280 000 грн.</p>
        </li>
        <li class="clocks-list__item">
          <a class="clocks-list__link" href="#">
            <img class="clocks-list__img" src="./images/wrist-watches/Louis-XVI-ATHOS.png" alt="watch-1">
          </a>
          <p class="clocks-list__text">
            Louis XVI ATHOS
          </p>
          <p class="clocks-list__price">65 000 грн.</p>
        </li>
        <li class="clocks-list__item">
          <a class="clocks-list__link" href="#">
            <img class="clocks-list__img" src="./images/wrist-watches/U-Boat-Italo-Fontana.png" alt="watch-1">
          </a>
          <p class="clocks-list__text">
            U-Boat Italo Fontana
          </p>
          <p class="clocks-list__price">18 700 грн.</p>
        </li>
        <li class="clocks-list__item">
          <a class="clocks-list__link" href="#">
            <img class="clocks-list__img" src="./images/wrist-watches/Gucci-Men's-G.png" alt="watch-1">
          </a>
          <p class="clocks-list__text">
            Gucci Men's G
          </p>
          <p class="clocks-list__price">38 500 грн.</p>
        </li>
        <li class="clocks-list__item clocks-list__item_blur">
          <div class="clocks-list__link clocks-list__link_blur">
            <img class="clocks-list__img clocks-list__img_blur" src="./images/wrist-watches/JORD-AR5905.png"
              alt="watch-1">
          </div>
          <a href="#" class="clocks-list__text_blur">ПОКАЗАТИ ВСІ</a>
        </li>
        <!-- <li class="clocks-list__item clocks-list__item_blur">
          <a class="clocks-list__link" href="#">
            <img class="clocks-list__img" src="./images/wrist-watches/JORD-AR5905.png" alt="watch-1">
          </a>
          <p class="clocks-list__text"></p>
          <p class="clocks-list__price"></p>
        </li> -->
      </ul>
    </div>

    <div class="clocks-list__btn-box">
      <div class="btn-box__count">
        <span class="js-count">0</span>
        <span>/</span>
        <span class="js-total">0</span>
      </div>
      <div class="btn-box">
        <button type="button" class="clocks-list__btn-prev" disabled style="opacity: 0.3;">&#10229;</button>
        <button type="button" class="clocks-list__btn-next">&#10230;</button>
      </div>
    </div>

  </div>
</section>