<section class="partners">
  <div class="partners__container">
    <h2 class="partners__title">
      Наші партнери
    </h2>

    <ul class="partners__list">
      <li class="partners__Item">
        <a href="#" class="partners__link">
          <img class="partners__img" src="./images/partners/coco.svg" alt="partner-coco">
        </a>
      </li>
      <li class="partners__Item">
        <a href="#" class="partners__link">
          <img class="partners__img" src="./images/partners/rolex.svg" alt="partner-rolex">
        </a>
      </li>
      <li class="partners__Item">
        <a href="#" class="partners__link">
          <img class="partners__img" src="./images/partners/breguet.svg" alt="partner-breguet">
        </a>
      </li>
      <li class="partners__Item">
        <a href="#" class="partners__link">
          <img class="partners__img" src="./images/partners/haven.svg" alt="partner-coco">
        </a>
      </li>
    </ul>

  </div>
</section>