<section class="season">
  <div class="season__container">

    <div class="season__content-top">

      <div class="season__21-22">

        <h2 class="season__title">
          СЕЗОН 2021/22
        </h2>

        <ul class="season__list-watches watches-list">
          <li class="watches-list__item">
            <a class="watches-list__link" href="#">
              <img class="watches-list__img" src="./images/wrist-watches/Louis-XVI-ATHOS.png" alt="watch-1">
            </a>
            <p class="watches-list__text">
              Louis XVI ATHOS
            </p>
            <p class="watches-list__price">13 600 грн.</p>
          </li>
          <li class="watches-list__item">
            <a class="watches-list__link" href="#">
              <img class="watches-list__img" src="./images/wrist-watches/Carl-von-Zeyten.png" alt="watch-1">
            </a>
            <p class="watches-list__text">
              Carl von Zeyten
            </p>
            <p class="watches-list__price">16 500 грн.</p>
          </li>
          <li class="watches-list__item">
            <a class="watches-list__link" href="#">
              <img class="watches-list__img" src="./images/wrist-watches/JORD-AR5905.png" alt="watch-1">
            </a>
            <p class="watches-list__text">
              JORD AR5905
            </p>
            <p class="watches-list__price">65 000 грн.</p>
          </li>
        </ul>
      </div>

      <div class="season__new-collection">
        <h2 class="season__new-collection-title">Нова колекція</h2>
        <button type="button" class="season__new-collection-btn">Каталог</button>
      </div>
    </div>

    <!-- content-bottom -->

    <div class="season__content-bottom">

      <div class="season__content-bottom-img"></div>

      <div class="season__content-bottom-desc content-bottom-desc">
        <h2 class="content-bottom-desc__title">колекція 2018</h2>
        <p class="content-bottom-desc__text">
          Годинники як інструмент визначення часу давно і надійно прижилися в людській реальності. Романтики та
          прагматики, художники та бізнесмени, чоловіки та жінки, дорослі та діти - всі хочуть знати котра година в
          потрібний момент. Скільки хвилин пройшло, скільки залишилося, а ще - які саме моделі і якого бренду
          виблискують на руці у друга, коханої або конкурента. З давніх часів, коли людина здогадався втикнути в землю
          паличку та іншою поличкою взявся відміряти рівні проміжки часу на піску, не вщухають суперечки - яким повинний
          бути годинник? Наручним, або настільним, або настінним, або, нарешті, підлоговим? Чому ж кожен діамантик на
          безеле або шестерінка в механізмі незмінно змушують гордовито випнутися нижню губу володаря аксесуара, а щоки
          - роздутися? 
        </p>

        <button type="button" class="content-bottom-desc__btn">
          переглянути колекцію
        </button>
      </div>
    </div>

  </div>
</section>