<section class="season">
  <div class="season__container">

    <div class="season__content-top">

      <div class="season__21-22">
        <h2 class="season__title">
          СЕЗОН 2021/22
        </h2>
        <ul class="season__list-watches watches-list">
          <li class="watches-list__item">
            <a class="watches-list__link" href="#">
              <img class="watches-list__img" src="./images/wrist-watches/Louis-XVI-ATHOS.png" alt="watch-1">
            </a>
            <p class="watches-list__text">
              Louis XVI ATHOS
            </p>
            <p class="watches-list__price">13 600 грн.</p>
          </li>
        </ul>
      </div>

      <div class="season__new-collection">

      </div>

    </div>

    <div class="season__content-bottom">

    </div>
  </div>
</section>