<section class="useful-information">
  <div class="useful-information__container">

    <h2 class="useful-information__title">Статті та корисна інформація</h2>

    <div class="useful-information__content content-information">

      <div class="content-information__item content-information--ROGER-DUBUIS">

        <img class="content-information__item-img" src="./images/useful-information/ROGER-DUBUIS.jpg"
          alt="ROGER-DUBUIS">

        <div class="content-information__item-desc item-desc">
          <h3 class="item-desc__title">ROGER DUBUIS. ЧАСТИНА 1</h3>
          <p class="item-desc__text">
            Цей чемпіон «гіперхорології» став синонімом надмірності й завдяки своїй радикальній скелетонізованій
            архітектурі неодноразово демонструє пристрасть до годинного вуайєризму. У цій серії з чотирьох статей
            описується нещодавня подорож на мануфактуру, де можна було спостерігати за виготовленням та оздобленням
            деталей, а також за збіркою та регулюванням годинників компанії.
          </p>
          <div class="item-desc__box-more">
            <button type="button" class="item-desc__btn">читати</button>
            <div class="item-desc__hashtag-box hashtag-box">
              <a class="hashtag-box__link" href="#">#ЕКСКЛЮЗИВ</a><a class="hashtag-box__link" href="#">#ПРОБРЕНД</a>
            </div>
          </div>
        </div>
      </div>

      <div class="content-information__item content-information--HISTORY-OF-LUXURY-WATCHE">

        <img class="content-information__item-img" src="./images/useful-information/HISTORY-OF-LUXURY-WATCHE.jpg"
          alt="HISTORY-OF-LUXURY-WATCHE">

        <div class="content-information__item-desc item-desc">
          <h3 class="item-desc__title">ІСТОРІЯ ЛЮКСОВИХ ГОДИННИКІВ. ЧАСТИНА 1</h3>
          <p class="item-desc__text">
            Історія люксових годинників зародилася дуже давно, вона веде відлік із часів перших годинників у світі. Тоді
            годинник був розкішшю, яку могла собі дозволити лише найвища еліта суспільства. Навіть не всім, хто має
            титул і великі гроші, могли виготовити цей розкішний аксесуар. Власне, з того часу мало що змінилося.
          </p>
          <div class="item-desc__box-more">
            <button type="button" class="item-desc__btn">читати</button>
            <div class="item-desc__hashtag-box hashtag-box">
              <a class="hashtag-box__link" href="#">#ЕКСКЛЮЗИВ</a><a class="hashtag-box__link" href="#">#IСТОРIЯ</a>
            </div>
          </div>
        </div>
      </div>

      <div class="content-information__item content-information--TISSOT-PRS-516-CHRONOGRAPH">

        <img class="content-information__item-img" src="./images/useful-information/TISSOT-PRS-516-CHRONOGRAPH.jpg"
          alt="TISSOT-PRS-516-CHRONOGRAPH">

        <div class="content-information__item-desc item-desc">
          <h3 class="item-desc__title">ВЕЛИКИЙ ТА СМІЛИВИЙ TISSOT PRS 516 CHRONOGRAPH</h3>
          <p class="item-desc__text">
            На початку цього року компанія Tissot оновила модель PRS 516 Automatic Chronograph, але не пішла вінтажним
            шляхом. На противагу колекції Heritage із переконливими рімейками вінтажних моделей, PRS 516 – це сучасний
            хронограф із зухвалим настроєм, безліччю деталей автоспорту й за чудовою ціною.
          </p>
          <div class="item-desc__box-more">
            <button type="button" class="item-desc__btn">читати</button>
            <div class="item-desc__hashtag-box hashtag-box">
              <a class="hashtag-box__link" href="#">#ХРОНОГРАФ</a>
              <a class="hashtag-box__link" href="#">#TISSOT</a>
              <a class="hashtag-box__link" href="#">#ОГЛЯДГОДИННИКIВ</a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>