.accordion {
  @media (min-width: 1024px) {
    display: none;
  }
}

.box {
  position: relative;
  margin-bottom: 12px;

  border-radius: 4px;
  background-color: rgba(81, 79, 79, 0.847);

  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }
}

.label {
  position: relative;
  padding: 16px;
  font-size: 20px;
  letter-spacing: -0.8px;
  line-height: 140%;

  font-family: "Playfair Display";
  font-size: 18px;

  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;

  cursor: pointer;

  &>svg {
    pointer-events: none;
    position: absolute;
    top: 35%;
    right: 16px;
    transform-origin: center center;

    transition: all 300ms ease-in-out;
    width: 30px;

    @media (min-width: 768px) {
      top: 30%;
    }
  }

  @media (min-width: 1440px) {
    font-size: 24px;
  }
}

.content {
  position: relative;

  font-weight: 400;
  line-height: 125%;

  overflow: hidden;
  max-height: 0;

  transition: all 300ms ease-in-out;
}

.content__inner {
  padding: 16px;

  border: 2px solid rgba(81, 79, 79, 0.847);
  border-top: none;
}

.content__inner_links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 6;
  row-gap: 10px;

  @media (min-width: 768px) {
    column-gap: 10px;
  }
}

.content__link {
  display: block;
  text-align: center;
  padding: 10px 20px;
  color: var(--light-gray);
  font-size: 14px;
  line-height: 150%;

  border: 1px solid rgba(81, 79, 79, 0.847);

  @media (min-width: 768px) {
    flex-grow: 1;
  }
}

// ---form------

.content__form {
  display: flex;

  outline: 1px solid rgba(255, 255, 255, 0.40);

  max-width: 350px;
  margin-top: 20px;

  @media (min-width: 768px) {
    margin-left: auto;
  }
}

.content__input {
  width: 100%;
  height: 42px;
  padding: 10px;

  border: none;
  outline: none;

  background: rgba(255, 255, 255, 0.40);

  &::placeholder {
    color: var(--white-base-color);
    letter-spacing: 0.7px;
  }
}

.content__button {
  color: var(--white-base-color);
  text-align: center;

  line-height: 150%;
  letter-spacing: 0.7px;
  text-transform: uppercase;

  background: #0F0F0F;

  padding: 10px 20px;
}

// ---active-------

.active>.label {
  color: var(--white-base-color);
  background: rgba(81, 79, 79, 0.847);

  &>svg {
    transform: rotate(180deg);
  }

  &~.content {
    color: var(--white-base-color);
    background: var(--dark-gray-background-color);

    font-weight: 400;
    line-height: 125%;
  }
}