.header {
  @media (max-width: 767px) {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
  }
}

// ---content-top------

.header__wrapper-top {
  background-color: var(--black-background-color);
  padding: 9px 0;

  @media (min-width: 768px) {
    padding: 14px 0;
  }
}

.registration-box__icon {
  width: 14px;
  height: 14px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// --top-list---
.top-list {
  display: flex;
  align-items: center;

  column-gap: 30px;
}

.top-list__item {
  position: relative;
  color: var(--gray-base-color);
  font-size: 12px;
}

.top-list__item:not(:first-child) {
  display: none;

  @media (min-width: 768px) {
    display: flex;
  }
}

.top-list__item:not(:last-child) {
  @media (min-width: 768px) {
    &::after {
      content: '';
      position: absolute;
      top: 6px;
      right: -16px;

      width: 1px;
      height: 10px;

      background-color: var(--gray-base-color);
    }
  }
}

.top-list__link_phone {
  display: flex;
  align-items: center;
  column-gap: 15px;

  &>p {
    flex-shrink: 0;
  }
}

.top-list__link {
  color: var(--gray-base-color);
  font-size: 12px;
}

// --header-btn-box---

.header__btn-box {
  display: flex;
  align-items: center;
  column-gap: 4px;
  margin-left: auto;

  &>span {
    color: var(--gray-base-color);
    font-size: 12px;
  }
}

// ----header-btn-box--

.header__btn-log-in {
  display: flex;
  align-items: center;
  column-gap: 19px;
  background-color: transparent;
}

.header__btn-log-in,
.header__btn-sign-up {
  color: var(--gray-base-color);
  font-size: 12px;
}

// ---/-content-top-----

// header--bottom---------
.header__wrapper-bottom {
  background-color: var(--dark-gray-background-color);
}

.header__logo {
  color: var(--white-base-color);
  font-family: "Post No Bills Jaffna";
  font-size: 26px;

  line-height: normal;

  @media (min-width: 768px) {
    font-size: 36px;

    font-weight: 700;
  }
}

// ---navigation-----

.header__nav {
  display: none;

  @media (min-width: 768px) {
    display: block;
    margin-left: auto;
    margin-right: 32px;
  }
}

.bottom-list {
  display: flex;
  align-items: center;
  // column-gap: 17px;
}

.bottom-list__link {
  color: var(--gray-base-color);
  display: block;

  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;

  padding: 20px 10px;

  transition: all 250ms linear;


  @media (min-width: 1024px) {
    &:hover {
      background: #1F1F1F;
      color: var(--white-base-color);
    }
  }

  @media (min-width: 1440px) {
    padding: 30px 20px;
  }
}

// header-bottom__btn-box--

.header-bottom__btn-box {
  &>button {
    background-color: transparent;
  }

  display: flex;
  align-items: center;
  column-gap: 26px;

  @media (min-width: 768px) {
    column-gap: 40px;
  }
}

.header-bottom__btn-burger {
  @media (min-width: 768px) {
    display: none;
  }
}