.partners {
  background-color: var(--dark-gray-background-color);

  padding: 50px 0px;

  @media (min-width: 768px) {
    padding: 80px 0px;
  }

  @media (min-width: 1440px) {
    padding-top: 89px;
    padding-bottom: 106px;
  }
}


.partners__title {
  position: relative;

  text-align: center;
  font-family: "Playfair Display";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  margin-bottom: 50px;

  &::before {
    content: " ";
    width: 120px;
    height: 1px;
    background-color: var(--white-base-color);
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: 768px) {
    font-size: 36px;
  }

  @media (min-width: 910px) {
    margin-bottom: 80px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 90px;
  }
}

// ---partners__list-----

.partners__list {
  max-width: 1425px;
  padding: 0 20px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  align-items: center;
  gap: 30px;
}

.partners__img {
  @media (max-width: 1024px) {
    aspect-ratio: 6/2;
  }
}